:root {
    /* Aquí hi van les variables */
}

* {
    /* Aquí hi va el reset */
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    /* Aquí hi van les fonts personalitzades */
}


    /* Aquí hi van propietats generals */

body {
    background: white;
     width: 100%;
    height: 250px;

}

li { 
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: red;
    margin: 1rem;
    float: left;
    list-style-type: none;
}

.barra {

    background: rgb(124, 123, 123);
    border-radius: 0%;
    height: 20px;
    width: 120px;
    margin: 0 50px 0 0 auto;
    top: 0px;
    color: aliceblue;
    
}

ul {
    width: 36rem;
    margin: auto;
}


    /* Aquí hi van propietats responsives */



@media (max-width:480px) 
    /* Aquí hi va la versió mòbil */
 {

    
 }

@media (min-width:481px) and (max-width:1279px) 
 {

        li {
            background: rgb(192, 207, 192);
        }
    
 }


@media (min-width:1280px)
 
    body {
        background: pink;
    }

.cap {
    width: 100%;
    height: 250px;
    background: rgb(211, 211, 211);
}