body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.contenidor {
    width: 1716px;
    margin: auto;
}
.nav {
    height: 166px;
}

.friends {
    height: 180px;
    width: 1300px ;
    margin: auto;
}

.pics {

    height: 1860px;
}

.logo {
    background-color: yellow;
    width: 208px;
    height: 43px;
    float: left;
    background-image: url(../img/logo.jpg);
    margin: 50px 0 0 0;
     }

.menu {
    width: 319px;
    height: 62px;
    float: left;
    margin: 45px 0 0 490px;
}

.menu ul {
    margin: 0;
}

.menu ul li {
    width: 30px;
    height: 30px;
    margin: 0 15px;
    float: left;
    display: block;
    background-image: url(../img/menu.jpg)
}

.menu ul li:hover {
    opacity: 0.5;
}

.inici {
    background-position: -19px;
}

.cerca {
    background-position: -103px;
}
.directes {
    background-position: -186px;
}

.favorits {
    background-position: -271px;
}

.perfil {
    width: 80px;
    height: 120px;
    margin: 20px;
    float: left;
    text-align: center;
    opacity: 0.8;


}
.foto {
    width: 80px;
    height: 80px;
    background-color: ivory;
    border-radius: 50%;
    background-position: center;
    background-image: url(../img/perfil.jpg);
    background-size: cover;
    border: pink 5px solid;
    box-shadow: inset 0px 0px 2px white;
}

.jana {
    background-image: url(../img/jana.png);
}

.miki {
    background-image: url(../img/miki.jpg);
}

.nana {
    background-image: url(../img/nana.jpg);
}

.judit {
    background-image: url(../img/judit.jpg);
}

.vane {
    background-image: url(../img/vane.jpg);
}

.genis {
    background-image: url(../img/genis.jpg);
}

.ana {
    background-image: url(../img/ana.jpg);
}

.iris {
    background-image: url(../img/iris.png);
}

.tolga {
    background-image: url(../img/tolga.jpg);
}

.ale {
    background-image: url(../img/ale.jpg);
}

.perfil:hover {
    opacity: 1;
}


.afegir {
    width: 20px;
    height: 20px;
    background: blue;
    border-radius: 50%; 
    border: 5px solid white;
    position: relative;
    left: 60px;
    top: -75px;
    line-height: 20px;
    color: white;

}

.post {
    width: 536px;
    height: 620px;
    float: left;
    margin: 18px;

}

.imatge{
        background-image: url(../img/ifpagram_sectores_2_11.jpg);
        width: 536px;
        height: 536px;
        background-size: cover;

}

.info{
    width: 268px;
    height: 84px;
    float: left;

}

.reaccions{
    width: 268px;
    height: 84px;
    float: left;
    margin-top: 10px;

}

.autor{
    width: 50px;
    height: 50px;
    margin: 10px;
    float: left;
    background-image: url(../img/judit.jpg);
    background-size: cover;
    border-radius: 50%;
}

.usuari{
    height: 25px;
    width: 198px;
    margin: 10px 0 0 0;
    float: left;
}

.quan{
    height: 25px;
    width: 198px;
    margin: 0;
    float: left;
    color: grey;
    font-size: 12px;
}

.like{
    height: 25px;
    width: 120px;
    margin: 0;
    float: left;
    text-align: right;
    font-size: 16px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;

}
.cors{
    height: 25px;
    width: 25px;
    margin:  0;
    background: red;
    float: left;
    background-image: url(../img/corazon.jpg);
    background-size: cover;
    
}



.mes{
    height: 25px;
    width: 120px;
    margin: 0;
    text-align: right;
    clear: both;
    background: red;


}

.i2{
    background-image: url(../img/ifpagram_sectores_2_13.jpg);
}

.i3{
    background-image: url(../img/ifpagram_sectores_2_15.jpg);
}

.i4{
    background-image: url(../img/ifpagram_sectores_2_20.jpg);
}

.i5{
    background-image: url(../img/ifpagram_sectores_2_21.jpg);
}

.i6{
    background-image: url(../img/ifpagram_sectores_2_22.jpg);
}

.i7{
    background-image: url(../img/ifpagram_sectores_2_26.jpg);
}

.i8{
    background-image: url(../img/ifpagram_sectores_2_27.jpg);
}

.i9{
    background-image: url(../img/ifpagram_sectores_2_28.jpg);
}


input {
  visibility: hidden;
}

.cor {
  margin: 4px 0 0 6px;
  width: 1rem;
  height: 1rem;
  position: relative;
  background-image: url(https://staging.svgrepo.com/show/13666/heart.svg);
  background-size: 1rem 1rem;
  float: left;
}

.cor label {
  display: block;
  width: 1rem;
  height: 1rem;

  cursor: pointer;
  position: absolute;
  top:0;
  left:0;
  opacity:0;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/A_perfect_SVG_heart.svg/684px-A_perfect_SVG_heart.svg.png?20180121090836);
  background-size: 1rem 1rem;
  float: left;
}

.cor input[type=checkbox]:checked+label {
  opacity:1;
}
